<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav>
    <mat-nav-list (click)="sidenav.close()">
    <a mat-list-item>
      <mat-icon>
      library_books
      </mat-icon>
      <span>Course</span>
    </a>

    <a mat-list-item>
      <mat-icon>
      library-books
      </mat-icon>
      <span>Course</span>
    </a>

    <a mat-list-item>
      <mat-icon>
      library-books
      </mat-icon>
      <span>Course</span>
    </a>

    <a mat-list-item>
      <mat-icon>
      library-books
      </mat-icon>
      <span>Course</span>
    </a>
  </mat-nav-list>
  </mat-sidenav>


<mat-toolbar color="primary">
  <button
  (click)="sidenav.open()"
  mat-icon-button aria-label="Example icon button with a home icon">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
</mat-sidenav-container>

